/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
TYPOGRAPHY
================================
*/

/* 	USED FOR PAGE TITLE */
h1 {
	font-family: 'Oswald', Helvetica, sans-serif;
	font-weight: 800;
	font-size: 72px;
	line-height: 68px;
	letter-spacing:-2px;
	margin-bottom:24px;
	color: black;
}

/*  USED FOR SECTION HEADERS*/
h2 {
	font-family: 'Oswald', Helvetica, sans-serif;
	font-weight: 800;
	font-size: 48px;
	line-height: 48px;
	margin-top:64px;
	padding-top:64px;
	margin-bottom:24px;
	color: black;
	border-top:1px;
	border-color:lightgray;
	border-style:solid;
}

/* 	USED FOR SUB HEADERS */
h3 {
	font-family: 'Oswald', Helvetica, sans-serif;
	font-weight: 800;
	font-size: 32px;
	line-height: 32px;
	margin-top:24px;
	margin-bottom:16px;
	color: black;
}

/* 	USED FOR SUB SUB HEADERS */
h4 {
	font-family: 'Oswald', Helvetica, sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	text-transform:uppercase;
	margin-bottom:12px;
	color: black;
}

/* 	USED FOR BODY TEXT */
p	{
	font-family: 'Marion', Georgia, Serif;
	font-size: 16px;
	line-height: 22px;
	color: #333333;
	margin-bottom: 12px;
}

/* 	USED FOR BOLD (STRONG) BODY TEXT */
strong {
  font-weight:bold;
  color:black;
}


/*
LINKS
================================
*/

a {
  font-weight:bold;
  color: #87C4C4;
  text-decoration:none;
}

a:visited {
  font-weight:bold;
  color: #87C4C4;
  text-decoration:none;
}

a:hover {
	text-decoration:underline;
	color:black;
}

/* how it was before i got crazy
#page {
	background-color: white;
	position: relative;
	float:left;
	clear:both;
	width:100%;
	margin-left:0px;
	margin-right:0px;
	height:1200px;
}

#textbox {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	position:absolute;
	top: 72px;
	left: 72px;
	right: 72px;
	background-color: #EEE;
}
*/


/*
HEADER and BODY
================================
*/

#textbox {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	float:left;
	width:100%;
	padding: 72px;
	background-color: white;
	border-radius: 2px;
	-moz-box-shadow:    0px 0px 12px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
  box-shadow:         0px 0px 12px 0px rgba(0, 0, 0, 0.25);
}

#header-contact {
  z-index: -2;
	position:fixed;
	top:16px;
	right:32px;
}

#header-contact a {
  font-weight:bold;
  color:white;
  text-decoration:none;
}

#header-contact a:visted {
  font-weight:bold;
  color:white;
  text-decoration:none;
}

#header-contact a:hover {
	text-decoration:underline;
}

#header-contact {
	color:white;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}


/*
BACKGROUND
================================
*/

.picture {
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	z-index: -5;
	position: fixed;
}

.overlay-grayscale {
	height: 100%;
	width: 100%;
	z-index: -4;
	position: fixed;
	background-color: rgba(255,255,255,0.2);
}

.overlay {
	height: 100%;
	width: 100%;
	z-index: -3;
	position: fixed;
	background-color: rgba(135,196,196,0.7);
}

.top-picture {
	background-size: cover;
	background-repeat: no-repeat;
	position:relative;
	float:left;
	width:100%;
	margin: 0px;
	padding: 0px;
	margin-bottom:-3px;
	z-index: -5;
}


/*
NAVIGATION
================================
*/

.nav_links li {
	display: inline-block;
  margin-top: 4px;
}

.nav-space {
	height: 40px;
}

#nav_bar {
	float: right;
	border: 0;
	border-radius: 0px;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 6px;
}

.navbar-on {
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	background-color: rgba(255,255,255,1);
	width: 100%;
	top: 0;
	right: 0;
	position: fixed;
	z-index: 100;
	transition: box-shadow 500ms linear;
}

.navbar-on-content {
	font-family: 'Oswald', Helvetica, sans-serif;
	font-size: 20px;
	padding-top: 1.5px;
	float: left;
	left: 0;
	z-index: 200;
}

.navbar-on-content h1 {
	font-size: 15px;
	color: black;
}

/*
BUTTONS
================================
*/

.buttons > li, span {
	display: inline-block;
	margin-right: .1em;
}

.topic-button {
	display: inline;
	float: right;
	margin-top: 72px;
}

.buttons {
	text-align:right;
	font-size: 15px;
}

.button-on,
.button-off {
	font-family: 'Oswald', Helvetica, sans-serif;
	font-size: .75em;
	font-weight: 400;
	border: 1px solid;
	border-radius: 3.75em;
	display: inline-block;
	line-height: 1;
	padding: 0.4em 1.2em;
	transition: all 100ms linear;
}

.button-off {
	background-color: #e9e9e9;
	border-color: #e9e9e9;
	color: #848492;
}

.button-off:hover {
	background-color: #848492;
	border-color: #848492;
	color: #e9e9e9;
}

.button-on {
	background-color: #87C4C4;
	border-color: #87C4C4;
	color: white;
}

.button-on:hover {
	background-color: #A1EAEB;
	border-color: #A1EAEB;
}


/*
Adjustments for Wider tablet and Desktop Sizes
=========================================
*/

@media all and (min-width: 1025px)
{
	.overlay-grayscale {
		background-color: rgba(255,255,255,0.5);
	}

	.overlay {
		background-color: rgba(135,196,196,0.7);
	}

	#textbox {
		position: relative;
		float:right;
		margin-top:90px;
		margin-right:144px;
		margin-bottom:36px;
		width:512px;
	}

	#header-contact {
		right:164px;
	}

	.top-picture, .navbar-on {
		display:none;
	}
}

@media all and (min-width: 800px) and (max-width: 1024px)
{
	#textbox {
		padding: 72px 216px;
	}

	.navbar-on {
		padding-right: 216px;
	}
}


/*
Adjustments for Phone Sizes
=========================================
*/

@media all and (min-width: 625px) and (max-width: 799px)
{
	#textbox {
		padding: 72px 144px;
	}

	.navbar-on {
		padding-right: 144px;
	}
}

@media all and (min-width: 501px) and (max-width: 624px)
{
	#textbox {
		padding:72px;
	}

	.navbar-on > .buttons {
		margin-right: 72px;
		margin-left: 72px;
	}
}

@media all and (min-width: 401px) and (max-width: 500px)
{
	#textbox {
		padding:36px;
	}

	.navbar-on {
		padding-right: 36px;
	}
}

@media all and (min-width: 350px) and (max-width: 400px)
{
	#textbox {
		padding: 36px 12px;
	}

	.navbar-on {
		padding-right: 12px;
	}

	#header-contact {
    top: 12px;
    right: 12px;
	}

	#header-contact a {
    font-weight:bold;
    font-size: 15px;
    color:white;
    text-decoration:none;
	}

	#header-contact a:visited {
    font-weight:bold;
    font-size: 15px;
    color:white;
    text-decoration:none;
	}
}

@media all and (max-width: 349px)
{
	#textbox {
		padding: 36px 12px;
	}

	.navbar-on {
		padding-right: 12px;
	}

	.buttons {
		font-size: 13px;
	}

	#header-contact {
    top: 12px;
    right: 12px;
	}

	#header-contact a {
		font-weight:bold;
		font-size: 12px;
		color:white;
		text-decoration:none;
	}

	#header-contact a:visited {
		font-weight:bold;
		font-size: 12px;
		color:white;
		text-decoration:none;
	}
}
